<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoachApp">
        <activity
            android:name=".view.activities.MainActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.activities.BaseActivity" />
        <activity
            android:name=".view.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.OptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.TCActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.OnboardingOptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.NewBidderOptionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.RegistrationOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.RegistrationTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.StatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.TicketDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.BookTicketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.CompanionTicketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.NewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.AuctionBetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.AuctionDetailViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.AuctionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.NewsViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.AuctionPreviousDetailViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ProductShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ShopActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>